
.country{
    border: 2px solid skyblue;
    margin: 5px;
    padding: 15px;
    border-radius: 20px;    
}

.flag-width{
    max-width: 200px;
    max-height: 200px;
}
.visited{
    background-color: bisque;
    color: crimson;
}
